

## Mam dość ##
# ha ha #



























import pandas as pd
narko = pd.read_csv("drugs.csv")
narko































import pandas as pd
narko = pd.read_csv("drugs.csv")
narko

In [2]:
narko["alcohol-use"]

0      3.9
1      8.5
2     18.1
3     29.2
4     40.1
5     49.3
6     58.7
7     64.6
8     69.7
9     83.2
10    84.2
11    83.1
12    80.7
13    77.5
14    75.0
15    67.2
16    49.3
Name: alcohol-use, dtype: float64

In [3]:
narko[1:4]

,age,n,alcohol-use,alcohol-frequency,marijuana-use,marijuana-frequency,cocaine-use,cocaine-frequency,crack-use,crack-frequency,...,oxycontin-use,oxycontin-frequency,tranquilizer-use,tranquilizer-frequency,stimulant-use,stimulant-frequency,meth-use,meth-frequency,sedative-use,sedative-frequency
1,13,2757,8.5,6.0,3.4,15.0,0.1,1.0,0.0,3.0,...,0.1,41.0,0.3,25.5,0.3,4.0,0.1,5.0,0.1,19.0
2,14,2792,18.1,5.0,8.7,24.0,0.1,5.5,0.0,NaN,...,0.4,4.5,0.9,5.0,0.8,12.0,0.1,24.0,0.2,16.5
3,15,2956,29.2,6.0,14.5,25.0,0.5,4.0,0.1,9.5,...,0.8,3.0,2.0,4.5,1.5,6.0,0.3,10.5,0.4,30.0

In [6]:
narko.iloc[2, 1]  #bardzo ważne, ile wierszy i ile kolumn

2792

In [7]:
narko.iloc[[2, 5, 10], 0:4]

      age     n  alcohol-use  alcohol-frequency
2      14  2792         18.1                5.0
5      17  3038         49.3               13.0
10  22-23  4707         84.2               52.0

można w nim wykroic dowolną część tabeli

In [8]:
np = narko.iloc[0:6, 0:4]

In [10]:
np

  age     n  alcohol-use  alcohol-frequency
0  12  2798          3.9                3.0
1  13  2757          8.5                6.0
2  14  2792         18.1                5.0
3  15  2956         29.2                6.0
4  16  3058         40.1               10.0
5  17  3038         49.3               13.0

In [12]:
np['alcohol-frequency'].mean()

7.166666666666667

In [13]:
suma_n = np ['n'].sum()

In [14]:
suma_n

17399

In [15]:
np['waga'] = np['n']/suma_n

In [16]:
np

  age     n  alcohol-use  alcohol-frequency      waga
0  12  2798          3.9                3.0  0.160814
1  13  2757          8.5                6.0  0.158457
2  14  2792         18.1                5.0  0.160469
3  15  2956         29.2                6.0  0.169895
4  16  3058         40.1               10.0  0.175757
5  17  3038         49.3               13.0  0.174608

In [17]:
np['waga'].sum()

1.0

In [20]:
np['waga_x_freg'] =np ['waga'] * np['alcohol-frequency']

In [22]:
np

  age     n  alcohol-use  alcohol-frequency      waga  waga_xfreg  waga_x_freg
0  12  2798          3.9                3.0  0.160814    0.482442     0.482442
1  13  2757          8.5                6.0  0.158457    0.950744     0.950744
2  14  2792         18.1                5.0  0.160469    0.802345     0.802345
3  15  2956         29.2                6.0  0.169895    1.019369     1.019369
4  16  3058         40.1               10.0  0.175757    1.757572     1.757572
5  17  3038         49.3               13.0  0.174608    2.269901     2.269901

In [23]:
narko['marijuana-use'].max()

34.0

In [25]:
narko['marijuana-use'].idxmax()

8

In [26]:
narko['marijuana-use'].min()

1.1

In [28]:
narko['marijuana-use'].idxmin()

0

In [30]:
maks_trawy=narko['marijuana-use'].idxmax()

In [31]:
narko.iloc[8, 0:6]

age                      20
n                      2271
alcohol-use            69.7
alcohol-frequency        48
marijuana-use            34
marijuana-frequency      60
Name: 8, dtype: object

In [32]:
narko.sort_values(by = 'marijuana-use')

,age,n,alcohol-use,alcohol-frequency,marijuana-use,marijuana-frequency,cocaine-use,cocaine-frequency,crack-use,crack-frequency,...,oxycontin-use,oxycontin-frequency,tranquilizer-use,tranquilizer-frequency,stimulant-use,stimulant-frequency,meth-use,meth-frequency,sedative-use,sedative-frequency
0,12,2798,3.9,3.0,1.1,4.0,0.1,5.0,0.0,NaN,...,0.1,24.5,0.2,52.0,0.2,2.0,0.0,NaN,0.2,13.0
16,65+,2448,49.3,52.0,1.2,36.0,0.0,NaN,0.0,NaN,...,0.0,NaN,0.2,5.0,0.0,364.0,0.0,NaN,0.0,15.0
1,13,2757,8.5,6.0,3.4,15.0,0.1,1.0,0.0,3.0,...,0.1,41.0,0.3,25.5,0.3,4.0,0.1,5.0,0.1,19.0
15,50-64,3923,67.2,52.0,7.3,52.0,0.9,36.0,0.4,62.0,...,0.4,5.0,1.4,10.0,0.3,24.0,0.2,30.0,0.2,104.0
2,14,2792,18.1,5.0,8.7,24.0,0.1,5.5,0.0,NaN,...,0.4,4.5,0.9,5.0,0.8,12.0,0.1,24.0,0.2,16.5
14,35-49,7391,75.0,52.0,10.4,48.0,1.5,15.0,0.5,48.0,...,0.3,12.0,1.9,6.0,0.6,24.0,0.2,104.0,0.3,10.0
3,15,2956,29.2,6.0,14.5,25.0,0.5,4.0,0.1,9.5,...,0.8,3.0,2.0,4.5,1.5,6.0,0.3,10.5,0.4,30.0
13,30-34,2864,77.5,52.0,16.4,72.0,2.1,8.0,0.5,15.0,...,0.9,46.0,3.6,8.0,1.4,12.0,0.4,54.0,0.4,10.0
12,26-29,2628,80.7,52.0,20.8,52.0,3.2,5.0,0.4,6.0,...,1.2,13.5,4.2,10.0,2.3,7.0,0.6,30.0,0.4,4.0
4,16,3058,40.1,10.0,22.5,30.0,1.0,7.0,0.0,1.0,...,1.1,4.0,2.4,11.0,1.8,9.5,0.3,36.0,0.2,3.0
11,24-25,4591,83.1,52.0,24.9,60.0,4.0,6.0,0.5,6.0,...,1.3,20.0,4.3,10.0,2.6,10.0,0.7,21.0,0.2,17.5
5,17,3038,49.3,13.0,28.0,36.0,2.0,5.0,0.1,21.0,...,1.4,6.0,3.5,7.0,2.8,9.0,0.6,48.0,0.5,6.5
10,22-23,4707,84.2,52.0,28.4,52.0,4.5,5.0,0.5,5.0,...,1.7,17.5,4.4,12.0,3.6,10.0,0.6,46.0,0.2,52.0
9,21,2354,83.2,52.0,33.0,52.0,4.8,5.0,0.5,17.0,...,1.3,13.5,3.9,7.0,4.1,10.0,0.6,2.0,0.3,9.0
7,19,2223,64.6,36.0,33.4,60.0,4.1,5.5,0.5,2.0,...,1.5,7.5,4.2,4.5,3.3,6.0,0.4,105.0,0.3,6.0
6,18,2469,58.7,24.0,33.7,52.0,3.2,5.0,0.4,10.0,...,1.7,7.0,4.9,12.0,3.0,8.0,0.5,12.0,0.4,10.0
8,20,2271,69.7,48.0,34.0,60.0,4.9,8.0,0.6,5.0,...,1.7,12.0,5.4,10.0,4.0,12.0,0.9,12.0,0.5,4.0

In [33]:
narko.sort_values(by = 'marijuana-use' ascending = False)

SyntaxError: invalid syntax (<ipython-input-33-d9f66739d44a>, line 1)

In [34]:
#seabornm strona na wykresy

In [35]:
#plotly (to co wyżej)